@model DeletePostViewModel
@{
    ViewData["Title"] = "Delete Post";
    Layout = "~/Views/Shared/_LayoutWithoutWidgets.cshtml";
}

<h2 class="text-center" style="margin-top: 5em;">@ViewData["Title"]</h2>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6 position-absolute top-50 start-50 translate-middle">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">@Model.Title</h3>
                <p class="mb-0"><strong>Created On:</strong> @Model.CreatedOn</p>
                <p class="text-danger mt-3">Are you sure you want to delete this post?</p>
            </div>
            <div class="card-footer">
                <form asp-controller="Post" asp-action="DeleteConfirmed" method="post">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger">Confirm</button>
                    <a asp-controller="Home" asp-action="All" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
