@using System.Security.Claims

@model AllPostsQueryModel

@{
    ViewData["Title"] = "Mine Blog";
}

<!-- Search and Sorting widget -->
@await Component.InvokeAsync(nameof(SearchAndSortComponent), Model)

<div class="col-lg-8">
    @if (Model.Posts.Any())
    {
        <div class="row">
            @foreach (var post in Model.Posts)
            {
                <partial name="_PostPartial" model="@post" />
            }
        </div>

        <!-- Pagination-->
        @if (!(Model.PostsCount <= Model.PostsPerPage))
        {
            @await Component.InvokeAsync(nameof(PaginationComponent), Model)
        }

    }
    else
    {
        <h1>No post entries!</h1>
    }
</div>

@await Component.InvokeAsync(nameof(SideWidgetsComponent))