@using BlogApp.Core.Models.Report

@model PostReportViewModel

@{
    ViewBag.Title = "Report Form";
}

<div class="d-flex flex-column h-100 mt-5 justify-content-evenly">
    <h4 class="text-center">Write Your Reason For Reporting This Post</h4>
    <form id="report-for" asp-action="Report" asp-controller="Post" method="post">
        <div class="mb-3">
            <textarea asp-for="ReportContent" class="form-control" rows="10" aria-required="true"></textarea>
            <span asp-validation-for="ReportContent" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <input class="btn btn-danger mb-2 w-100 p-3 fw-bold" type="submit" value="Report" />
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}