@using BlogApp.Core.Enumerations
@using EnumsNET

<div class="card mb-4">
    <div class="card-header">Sort By</div>
    <div class="card-body">
        <div class="input-group">
            <select class="form-select">
                @foreach (var item in (int[])Enum.GetValues(typeof(PostSorting)))
                {
                    <option value="@item">@(((PostSorting)item).AsString(EnumFormat.Description))</option>
                }
            </select>
        </div>
    </div>
</div>
