@page

@model LogoutModel

@{
    ViewData["Title"] = "Log out";
    Layout = "~/Views/Shared/_LayoutWithoutWidgets.cshtml";
}

<div class="container position-absolute top-50 start-50 translate-middle">
    <div class="card text-center">
        <div class="card-header">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="card-body">
            <h5 class="card-title">Logging out</h5>
            <p class="card-text">Do you wish to log out?</p>
            <form class="form-inline" asp-area="User" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <a asp-controller="Home" asp-action="All" class="btn btn-danger">No</a>
                <button type="submit" class="btn btn-primary">Yes</button>
            </form>
        </div>
        <div class="card-footer text-body-secondary">
        </div>
    </div>
</div>
