<div class="card mb-4">
    <div class="card-header">Search</div>
    <div class="card-body">
        <div class="input-group">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" aria-describedby="button-search" />
            <button class="btn btn-primary" id="button-search" type="button">Search</button>
        </div>
    </div>
</div>