@using System.Security.Claims

@model AllPostsQueryModel

@{
    ViewData["Title"] = "All Posts";
}

<!-- Search and Sorting widget -->
@await Component.InvokeAsync(nameof(SearchAndSortComponent), Model)

<div class="col-lg-8">
    @if (Model.Posts.Any())
    {
        <div class="row">
            @foreach (var post in Model.Posts)
            {
                <partial name="_PostPartial" model="@post"/>
            }
        </div>

        <!-- Pagination-->
        @if (!(Model.PostsCount <= Model.PostsPerPage))
        {
            @await Component.InvokeAsync(nameof(PaginationComponent), Model)
        }

    }
    else
    {
        <h1>No post entries!</h1>
    }
</div>
<!-- Side widgets -->
<div class="col-lg-4">
    <!-- Categories widget-->
    <div class="card mb-4">
        <div class="card-header">Categories</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#!">Web Design</a></li>
                        <li><a href="#!">HTML</a></li>
                        <li><a href="#!">Freebies</a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#!">JavaScript</a></li>
                        <li><a href="#!">CSS</a></li>
                        <li><a href="#!">Tutorials</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Side widget-->
    <div class="card mb-4">
        <div class="card-header">Tags</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#!">#Tag</a></li>
                        <li><a href="#!">#Tag</a></li>
                        <li><a href="#!">#Tag</a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#!">#Tag</a></li>
                        <li><a href="#!">#Tag</a></li>
                        <li><a href="#!">#Tag</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>