@using System.Security.Claims
@using BlogApp.Core.Contracts

@model AllPostsQueryModel

@{
    ViewData["Title"] = "All Posts";
}

<button class="btn btn-primary mb-4" type="button" data-bs-toggle="collapse" data-bs-target="#searchForm" aria-expanded="false" aria-controls="searchForm">
    Filters
</button>

<form id="searchForm" class="collapse" method="get">
    <!-- Sorting widget -->
    @await Component.InvokeAsync(nameof(SortAndFilterComponent), Model)
</form>



<div class="col-lg-8">
    @if (Model.Posts.Any())
    {
        <div class="row">
            @foreach (var post in Model.Posts)
            {
                <partial name="_PostPartial" model="@post"/>
            }
        </div>

        <!-- Pagination-->
        @if (!(Model.PostsCount <= Model.PostsPerPage))
        {
            @await Component.InvokeAsync(nameof(PaginationComponent), Model)
        }

    }
    else
    {
        <h1>No post entries!</h1>
    }
</div>

@await Component.InvokeAsync(nameof(SideWidgetsComponent))