html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* this is the id of the footer in _LayoutWithoutWidgets */
#pc-footer {
    position: fixed;
    line-height: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
}
