<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="All">Home</a>
    </li>
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Post" asp-action="Create">Create</a>
        </li>
    }
</ul>
