@{
    ViewData["Title"] = "Successfully Sent Form";
    Layout = "~/Views/Shared/_ContactFormLayout.cshtml";
}

<div class="text-center position-absolute top-50 start-50 translate-middle">
    <img class="img-fluid" src="~/images/success-green-check-mark-icon.png" />
    <h1 class="text-success mt-1">Successfully sent contact form!</h1>
    <h2 class="text-info mt-5">Your message has been sent! We’ll get back to you as soon as possible.</h2>
</div>