@using BlogApp.Core.Models.Comment

@model CommentFormModel

<form asp-controller="Comment" asp-action="AddComment" method="post">
    <input type="hidden" asp-for="PostId"/>
    <input type="text" asp-for="Content"/>
    <input type="submit" class="btn btn-primary" value="Comment"/>
</form>